<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAMd_9Csf5bBi1fMg0CsofHjEFLpJPmFsk</string>
	<key>GCM_SENDER_ID</key>
	<string>324507601155</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shiritori.shiritoriFlutter</string>
	<key>PROJECT_ID</key>
	<string>shiritori-game-ccaae</string>
	<key>STORAGE_BUCKET</key>
	<string>shiritori-game-ccaae.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:324507601155:ios:45bb4ebcba9ae116ec4136</string>
	<key>DATABASE_URL</key>
	<string>https://shiritori-game-ccaae-default-rtdb.firebaseio.com</string>
</dict>
</plist>