node_modules
npm-debug.log
.git
.gitignore
.env
.env.example
README.md
.DS_Store
.vscode
.history
*.md
src
public
*.ts
*.tsx
tsconfig.json
vite.config.ts
package.json
package-lock.json
.firebase
.firebaserc
firebase.json
docker-compose.yml
Dockerfile
